@model IEnumerable<ProjetoBackend.Models.ItemVenda>

@{
    ViewData["Title"] = "Itens da Venda";
    var idVendaAtual = ViewData["idVendaAtual"];
}
<div class="container">

    <h1>Vendas</h1>

    <p>
        <a asp-action="Create" class="text-decoration-none text-light btn btn-lg btn-1" asp-route-id=@idVendaAtual>Adicionar Produto</a>
    </p>
    <table class="table table-dark table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Venda)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Produto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorUnitario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorTotal)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Venda.NotaFiscal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Produto.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorUnitario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotal)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ItemVendaId" class="text-primary text-decoration-none btn btn-outline-primary">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.ItemVendaId" class="text-danger text-decoration-none btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>