@model IEnumerable<ProjetoBackend.Models.ServicoVenda>

@{
    ViewData["Title"] = "Index";
}

<h1>Vendas</h1>

<p>
    <div class="btn btn-lg" style=" background:#DC5F00">
        <a asp-action="Create" class="text-decoration-none text-light">Cadastrar</a>
    </div>
</p>
<table class="table table-dark table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Servico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venda)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Servico.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venda.VendaId)
                </td>
                <td>
                    <div class=" btn btn-outline-primary">
                        <a asp-action="Edit" asp-route-id="@item.ServicoId" class="text-primary text-decoration-none">Editar</a>
                    </div>

                    <div class="btn btn-outline-danger">
                        <a asp-action="Delete" asp-route-id="@item.ServicoId" class="text-danger text-decoration-none">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
