@model IEnumerable<ProjetoBackend.Models.Compra>

@{
    ViewData["Title"] = "Index";
}

<h1>Compras</h1>

<p>
    <div class="btn btn-lg" style=" background:#DC5F00">
        <a asp-action="Create" class="text-decoration-none text-light">Cadastrar</a>
    </div>
</p>
<table class="table table-dark table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FornecedorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FornecedorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorTotal)
                </td>
                <td>
                    <div class="btn btn">
                        <a asp-action="Edit" asp-route-id="@item.CompraId" class="text-primary text-decoration-none">Editar</a>
                    </div>
                    <div>
                        <a asp-action="Delete" asp-route-id="@item.CompraId" class="text-danger text-decoration-none">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
