@model IEnumerable<ProjetoBackend.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}
<div class="container">

    <h1>Produtos</h1>

    <p>
        <a asp-action="Create" class="text-decoration-none text-light btn-1 btn btn-lg">Cadastrar</a>
    </p>
    <table class="table table-dark table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estoque)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categoria)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estoque)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria.Nome)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProdutoId" class="text-primary text-decoration-none btn btn-outline-primary">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@item.ProdutoId" class="text-danger text-decoration-none btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
